@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
/*Seteos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size:10px;
  background: #000;
  color: #fff;
}

h1,h2,h4 {
  font-family: 'Merriweather', serif;
}

/*Navbar*/
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    padding: 1rem;
}
header h1{
    text-transform: uppercase;
    font-size: 2.5rem;
}

header nav li{
    display: inline;
    list-style: none;
    text-transform: uppercase;
    margin: 0 15px;
}

a { 
    font-size: 1.6rem;
    text-decoration: none; 
    color: #fff;    
}

a:hover{
    border-bottom: 1px solid;  
}

p {
  font-size: 1.6rem;
  margin: 10px 0;
  line-height: 1.7em;
}

section {
  margin: auto;
 
  overflow: auto;
  padding: 90px 20px;
}

section:nth-child(odd){
    background: #343434;
}


.display-2 { 
  font-size: 40px; 
  font-weight: 300;
  text-align: center;
  padding-bottom: 50px;
  text-transform: uppercase;
}

/* Inicio */
#Inicio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background: url('../img/showcase.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    text-align: right;
   }

#Inicio h1{
    grid-column: 2 / 3;
    grid-row: 2 / 3 ;
    font-size: 7.2rem; 
    font-weight: 300;
}

#Inicio p{
    grid-column: 2 / 3;
    grid-row: 3 / 3 ;
}

/* Servicios */

.services-row{
    display:flex;
    justify-content: space-between;
}

.services-box{
    font-size:1.6rem;
    text-align: justify;
    padding: 40px;
}

.services-box h4{
    font-size: 2.4rem;
}

/* Acercade */

#Acercade p {
    padding-bottom: 2rem;
    text-align: justify;
}

.about-left{
    width: 48%;
    float:left;
}
.about-left p:first-child{
   font-size: 2rem;
   font-weight: 600; 
}

.about-right{
    width: 48%;
    float:right;
}

/* Contacto */
#Contacto form {
    padding-top: 50px;
    width: 50%;
    margin: 0 auto;
}
  
#Contacto form .btn {
    width: 100%;
}

form label {
    display: inline-block;
    margin-bottom: 0.8rem;
}

form .form-group {
    margin-bottom: 1.6rem;
    font-size: 1.6rem;
  }
  
form .form-control {
    display: block;
    width: 100%;
    padding: 0.6rem 1.2em;
    line-height: 1.5;
    color: #495057;
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-radius: 0.4rem;
}


